{% extends 'base.html' %}

{% block title %}{{ element.subject }} - {{ section.name }} - {{ agenda.name }} - Aghendi{% endblock %}

{% block content %}
    <!-- MAIN -->
    <div class="main">
        <div class="auth-section">
            <label class="location">Delete Element</label>
            <div class="form-section">
                <form method="POST" class="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Are you sure you want to delete "{{ element.subject }}" element? This action is irreversible.</label>
                    </div>
                    <button type="submit" class="btn">Confirm</button>
                </form>
                <div class="alternative-op">
                    <a href="{% url 'element_detail' agenda.id section.id element.id %}">Return to Element</a>
                </div>
            </div>
        </div>
    </div>
    <!-- --- -->
{% endblock %}