{% extends 'base.html' %}

{% block title %}{{ agenda.name }} - Aghendi{% endblock %}

{% block content %}
    <!-- MAIN -->
        <div class="main">
            <div class="auth-section">
                <label class="location">Delete Agenda</label>
                <div class="form-section">
                    <form method="POST" class="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Are you sure you want to delete "{{ agenda.name }}" agenda? This action is irreversible.</label>
                        </div>
                        <button type="submit" class="btn">Confirm</button>
                    </form>
                    <div class="alternative-op">
                        <a href="{% url 'view_agenda' agenda.id %}">Return to Agenda</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- --- -->
{% endblock %}