{% extends 'base.html' %}

{% block title %}{{ element.subject }} - {{ section.name }} - {{ agenda.name }} - Aghendi{% endblock %}

{% block content %}
    <!-- MAIN -->
    <div class="main">
        <div class="auth-section">
            <label class="location">Edit Element</label>
            <div class="form-section">
                <form method="POST" class="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="subject">Subject:</label>
                        <input type="text" id="subject" name="subject" value="{{ element.subject }}" placeholder="Enter element subject" required>
                    </div>
                    <div class="form-group">
                        <label for="details">Details:</label>
                        <textarea id="details" name="details" rows="4" placeholder="Enter element details" required>{{ element.details }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="emission">Emission:</label>
                        <input type="date" id="emission" name="emission" value="{{ element.emission|date:'Y-m-d' }}" required>
                    </div>
                    <div class="form-group">
                        <label for="deadline">Deadline:</label>
                        <input type="date" id="deadline" name="deadline" value="{{ element.deadline|date:'Y-m-d' }}" required>
                    </div>
                    <button type="submit" class="btn">Update</button>
                </form>
                <div class="alternative-op">
                    <a href="{% url 'element_detail' agenda.id section.id element.id %}">Return to Element</a>
                </div>
            </div>
        </div>
    </div>
    <!-- --- -->
{% endblock %}