{% extends 'base.html' %}

{% block title %}Aghendi{% endblock %}

{% block auth %}
    <div class="auth-links">
        <a href="{% url 'signup' %}">
            <button class="btn">Signup</button>
        </a>
    </div>
{% endblock %}

{% block content %}
    <!-- MAIN -->
    <div class="main">
        <div class="auth-section">
            <label class="location">Login</label>
            <div class="form-section">
                <form method="POST" class="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username_or_email">Username or Email:</label>
                        <input type="text" id="username_or_email" name="username_or_email" placeholder="Enter your username or email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <button type="submit" class="btn">Login</button>
                </form>
                {% if show_reset %}
                    <div class="alternative-op">
                        <a href="{% url 'password_reset_request' %}">Forgot your password?</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- --- -->
{% endblock %}