{% extends 'base.html' %}

{% block title %}Aghendi{% endblock %}

{% block content %}
    <!-- MAIN -->
    <div class="main">
        <div class="auth-section">
            <label class="location">Password Reset</label>
            <div class="form-section">
                <form method="POST" class="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email address" required>
                    </div>
                    <button type="submit" class="btn">Send</button>
                </form>
                <div class="alternative-op">
                    <a href="{% url 'login' %}">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
    <!-- --- -->
{% endblock %}