{% extends 'base.html' %}

{% block title %}Aghendi{% endblock %}

{% block auth %}
    <div class="auth-links">
        <a href="{% url 'login' %}">
            <button class="btn">Login</button>
        </a>
    </div>
{% endblock %}

{% block content %}
    <!-- MAIN -->
    <div class="main">
        <div class="auth-section">
            <label class="location">Signup</label>
            <div class="form-section">
                <form method="POST" class="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" placeholder="Enter your username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Re-enter your password" required>
                    </div>
                    <button type="submit" class="btn">Signup</button>
                </form>
                <div class="alternative-op">
                    <a href="{% url 'login' %}">Already have an account?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- --- -->
{% endblock %}